@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Razor Code to Set Header -->
@{
    ViewData["Title"] = "This Worked!";
}

<!-- Body with my name, image of fun and adventure with friend, paragraph on what i hope to get out of IS413, top IS jobs,
grade calculator, and javascript and jquery links-->

<h1>Nash Meldrum</h1>

<br />
<img src="img/gang.JPG" width="700" height="500" />
<br /><br />

<p>
    I hope that I learn the overall syntax and best practice of making projects in C#. I also want to become comfortable using the ASP.NET
    MVC core. I really hope that I become more comfortable and experienced programming and working in new environments and IDE's. I hope to
    increase my confidence and capabilities, and do things I might not originally think that I could do sometimes.
    Above all, I hope that in IS 413 I learn to learn better and become a better student and learner.
</p>

<h2>Top #3 IS Graduation Jobs</h2>
<ul>
    <li>#1: Techincal Manager</li>
    <li>#2: Business/Systems Analyst</li>
    <li>#3: Data Security Analyst</li>
</ul>
